Functions

In [34]:
 
def myFun(**kwargs):
    for key, value in kwargs.items():
        print("%s == %s" % (key, value))
 
 
# Driver code
myFun(first='Geeks', mid='for', last='Geeks')

first == Geeks
mid == for
last == Geeks

function inside function

In [35]:
out='Python'

def f1():
    s1='Hello'
    def f2():
        print(s1,out)
    f2()
f1()

Hello Python

In [36]:
def my_function():
    ''' lorem ipsum dolor sit
    amet, consectetur
    adipis'''
    return None

print(my_function.__doc__)
print('......................')
print(my_function)

 lorem ipsum dolor sit
    amet, consectetur
    adipis
......................
<function my_function at 0x000001DE78F39EE0>

In [37]:
def cube_function(n):
    ans = n*n*n
    return ans

print(cube_function(2))

8

In [38]:
var = lambda a: 
print(var(2))

def add(a):
    a+10
    a-10
    return a+10
print(add(2))

SyntaxError: invalid syntax (2569178938.py, line 1)

In [ ]:
var1=lambda n: n*n
var2=lambda n: n*n*n

ans= var1(2)
print(ans)
print(var2(ans))

def call_func():
    ans = var1(2) + 1
    print("From User def:",ans)

call_func()

4
64
From User def: 5

In [ ]:
#program to find odd and even
ans = lambda num: True if num%2 == 0 else False

ans(3)

False

In [ ]:
# file1= open("new_file.txt","w")
# file1.write("Hi there am from python program")
# file1.close()

file1= open("new_file.txt","r")
print(file1.read())
file1.close()

Hi there am from python program
Hi All

In [ ]:
list1=[1,2,3,4]

iterator_obj=iter(list1)
next(iterator_obj)
next(iterator_obj)
print(next(iterator_obj))
print(next(iterator_obj))

3
4

In [ ]:
string1="Python"
Iter1=iter(string1)
next(Iter1)

'P'

In [ ]:
def gen():
    for i in range(0,20):
        if i % 2 != 0:
            yield i

def sum():
    s=0
    for val in gen():
        s = s + val
    print(s)
sum()

100

In [62]:
list=[10,'y',100,20]
list.index('y')

1

In [63]:
list.insert(3,35)
list

[10, 'y', 100, 35, 20]

In [64]:
list.pop()

20

In [65]:
list

[10, 'y', 100, 35]

In [66]:
list.remove(35)
list

[10, 'y', 100]

In [67]:
list.reverse()
list

[100, 'y', 10]

In [68]:
list

[100, 'y', 10]

In [70]:
list=[5,8,6,9,7,1,10,3]
list.sort(reverse=True)
list

[10, 9, 8, 7, 6, 5, 3, 1]

In [73]:
list=[5,8,6,9,7,1,10,3]
list.sort()
list.reverse()
list

[10, 9, 8, 7, 6, 5, 3, 1]

In [75]:
list1 = [[i+1] for i in range(5) if i % 2 ==0 ]
list1

[[1], [3], [5]]